body{
     background:radial-gradient(#E6FFFD,#91C8E4,#99DBF5);
     margin-top: 50px;
     margin-left:20px;
     margin-right:20px;
     margin-bottom:50px;
}

h1{
    color:#27374D;
    font-size:xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.fi{
     width:350px;
     border:5px solid#27374D;
     padding:10px;
     margin:30px;
     background-color:#E3F4F4;
     margin-left:430px;
     position:absolute;
     float: center;
     align-self: center;
     text-align: center;
}


.task_button{
     font-size: larger;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight: 100;
     text-align: center;
     color:#27374D ;
}
.saving{
     font-size: medium;
     font-family: Arial, Helvetica, sans-serif;
     font-style: normal;
     font-weight:50;
     align-self: center;
     height:30px;
     width:50px;
}
.listing{
     width: 300px;
     border: 10px solid#27374D;
     padding:30px;
     margin:80px;
     background-color:#E3F4F4;
     margin-left:430px;
     position:absolute;
     float: center;
     color:#068DA9;
     text-align:left;
     font-size: larger;
     font-family:Arial, Helvetica, sans-serif;
     font-weight:100;
     user-select: none;
     cursor: pointer;
}
.listing::before{
     content: '';
     position: absolute;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background-size: cover;

}
.done{
     text-decoration: line-through;
     color: #27374D;
}

.del{
     position:absolute;
     right: 0;
     text-align: center;

}
.del:hover{
     background: #27374D;
}
 






